!!!
%html
	%head
		%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
	%body
		%h1 Something went wrong ...
		%p="Hey #{@user.name},"
		%p we are sorry but something went technically wrong and we weren't able to create the import for the migration. The developers have been informed, please be patient and try it again in a few days.