:plain
	We started the import
	='====================='
	
	="Hey #{@user.name},"
	we just started the import of your current migration. Depending on the amount of data this can take up to an hour or longer. Please be patient you'll soon be able to support your customers using Desk.com.