:plain
	We couldn't import your data
	= '========================'
	
	= "Hey #{@name},"
	an error happened during the import after which we moved on. Please check your data or contact the support team.