!!!
%html
	%head
		%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
	%body
		%h1 We finished the import
		%p="Hey #{@user.name},"
		%p a few seconds ago we finished the import on your Desk.com environment, you can now start using Desk.com. We enclosed a log file to this email, it contains what happened while importing your data.