:plain
	We finished the import
	= '========================'
	
	="Hey #{@user.name},"
	a few seconds ago we finished the import on your Desk.com environment, you can now start using Desk.com. We enclosed a log file to this email, it contains what happened while importing your data.