!!!
%html
	%head
		%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
	%body
		%h1 We couldn't export your data
		%p="Hey #{@name},"
		%p an error happened during the export after which we moved on. Please check your data or contact the support team.