!!!
%html
	%head
		%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
	%body
		%h1 We're exporting your data
		%p="Hey #{@name},"
		%p we just started exporting your data. Please be patient we'll notify you once we're done.