!!!
%html
	%head
		%meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
	%body
		%h1 Your data is exported
		%p="Hey #{@name},"
		%p your data has been exported and is waiting on our servers to be downloaded.