:plain
	We couldn't export your data
	= '========================'
	
	= "Hey #{@name},"
	an error happened during the export after which we moved on. Please check your data or contact the support team.