li.profile {
  padding: 0 10px;
  min-height: 58px;
  img { float: left; }
  h3, span { padding-left: 68px; white-space: nowrap; display: block; margin-bottom: 0; }
  span { font-size: 14px; font-weight: normal; line-height: 1; color: #999; }
}