$textColor:                   #999;
$linkColor:                   #674397;
$headingsColor:               #674397;
$heroUnitBackground:          #674397;
$heroUnitHeadingColor:        white;
$heroUnitLeadColor:           #DEC3FF;